/* Estilos Gerais */
.employee-container {
    max-width: 1232px;
    margin: 20px auto;
}

.employee-title {
    margin: 20px 0 0 0; 
}

  .employee-container {
    padding-left: calc(5px + 1vw); 
    }
    

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.employee-title {
    text-align: left;
    font-size: 1.5em;
    font-weight: 500;
    margin: 0;
}

.search-container {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: auto;
}

.search-input {
    width: 200px;
    padding: 8px;
    padding-right: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f8f8f8;
    font-size: 16px;
}

.search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #999;
    pointer-events: none;
}

/* Estilos para a tabela */
.employee-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    table-layout: fixed;
}

.employee-table th,
.employee-table td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 16px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.employee-table th {
    background-color: #0500FF;
    color: white;
    font-weight: 500;
}

.table-image {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    margin-right: 8px;
}

/* Estilos para o accordion (Mobile) */
.accordion-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.accordion {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    cursor: pointer;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.employee-img {
    object-fit: cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.employee-name {
    font-weight: 500;
}

.accordion-icon {
    transition: transform 0.3s ease;
}

.accordion-header.open .accordion-icon {
    transform: rotate(180deg);
}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    padding: 0 16px;
    background-color: #f9f9f9;
}

.accordion-body.open {
    max-height: 300px;
    padding: 16px;
}

.info-item {
    display: flex;
    justify-content: space-between; /* Espaço entre o label e o valor */
    margin-bottom: 8px; /* Espaçamento entre os itens */
}

.info-item span {
    font-weight: 500; /* Peso da fonte para os labels */
    margin-right: 10px; /* Espaçamento à direita dos labels */
}

/* Media query para dispositivos móveis */
@media (max-width: 768px) {
    .employee-table {
        display: none; /* Esconde a tabela em telas menores */
    }
}