header {
  background-color: white;
  margin: 0; /* Remove margens do header */
  padding: 0; /* Remove paddings do header */
}

.interface {
  max-width: 1232px;
  margin: 0 auto; /* Mantém a centralização horizontal */
  padding: 20px 0; /* Mantém o padding vertical */
}

.employee-title {
  margin: 20px 0 0 0; 
}

