/* Estilos do Header */
.header {
    background-color: white; 
    padding: 20px ; 
    text-align: left; 
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding-left: calc(1px + 1vw);
}
  

  

.logo {
  width: 100px;

}

.app-container {
  padding-left: calc(5px + 2vw); 
}

 
  
  .desktop-logo {
    width: 200px; 
    display: none;
  }
  
  .mobile-logo {
    width: 120px; 
  }

  .app-container {
    display: flex;
  }
  
  .left-sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }
  
  .employee-title {
    margin: 20px 0 0 0; 
  }
  
  .content {
    flex-grow: 1;
  }
  

  
  /* Responsividade */
  @media (min-width: 768px) {
    .desktop-logo {
      display: block; 
    }
    .mobile-logo {
      display: none; 
    }
  }

  
  
  