/* Estilos do Header */
.header {
  background-color: white; 
  padding: 20px ; 
  text-align: left; 
  display: flex;
  justify-content: flex-start;
  align-items: center; 
  padding-left: calc(1px + 1vw);
}


.logo {
  margin: 0px;
  width: 100px; 
  text-align: left; 
}






.employee-container {
padding-left: calc(5px + 2vw); 
}



.desktop-logo {
  width: 200px; 
  display: none;
}

.mobile-logo {
  width: 120px; 
}


.employee-title {
  margin: 20px 0 0 0; 
}

